body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --grey: #2e2f42;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --dairy: #fcfcfc;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*          HEADER          */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
  padding: 24px;
}

.header-logo-span {
  color: var(--navyblue);
}

.link {
  text-decoration: none;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-item-link {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-link:active,
.header-item-link:hover,
.header-item-link:focus {
  color: var(--ocean);
}

.current {
  position: relative;
  color: var(--ocean);
}

.current::after {
  content: "";
  background-color: var(--ocean);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-list-item {
  padding: 24px;
}

.header-address-link {
  color: var(--slate);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean);
}

/*          MAIN - HERO         */

.hero {
  padding: 188px 0;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: var(--white);
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
}

.hero-button {
  background-color: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: var(--ocean);
}

/*          FOUR PROS SECTION         */

.second-section {
  padding: 120px 0;
}

.box {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--cloud);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.box-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pros-list-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 8px 0;
}

.pros-list-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.pros-list {
  width: calc((100% - 24px * 3) / 4);
}

.pros {
  display: flex;
  gap: 24px;
}

/*          What are we doing SECTION         */

.third-section {
  padding-bottom: 120px;
}

.about {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-list-item {
  width: calc((100% - 3 * 16px) / 3);
}

/*          Our Team SECTION         */

.fourth-section {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-ptoto {
  width: 264px;
  height: 260px;
}

.team-social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.circle {
  height: 40px;
  width: 40px;
}

.circle-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-social:hover,
.circle-social:focus {
  background-color: var(--ocean);
}

.circle-icon {
  fill: var(--cloud);
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-separate {
  background-color: var(--white);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-separate:hover .circle-social {
  background-color: var(--ocean);
}

.name-prof {
  padding: 32px 0;
}

.team-separate-name {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-separate-prof {
  color: var(--slate);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/*          Customers SECTION         */

.fifth-section {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list-item {
  width: calc((100% - 6 * 24px) / 5);
  height: 88px;
}

.customers {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* .rectangle {
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  position: relative;
  transition-property: border;
  transition-duration: 250ms;
  transition-delay: 0;
  transition-timing-function: ease;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
} */

.rectangle-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rectangle-link:hover,
.rectangle-link:focus {
  border: 1px solid var(--ocean);
  border-color: var(--ocean);
  color: var(--ocean);
}

.rectangle-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-delay: 0;
  transition-timing-function: ease;
}

.rectangle-icon:hover {
  fill: var(--ocean);
}

/*          FOOTER         */

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.webstudio {
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  display: flex;
  gap: 16px;
}

.social-media-links {
  display: flex;
  gap: 16px;
}

.social-media-text {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.circle-footer {
  border-radius: 50%;
  background-color: var(--iris);
  height: 40px;
  width: 40px;
  position: relative;
  /* width: calc((100% - 3 * 16px) / 4); */
}

.circle-footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-footer-link:hover,
.circle-footer-link:focus {
  background-color: var(--green);
}

/* .circle-footer:hover {
  background-color: var(--green);
} */

.circle-icon {
  fill: var(--cloud);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/*----------------------------PORTFOLIO----------------------------*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-item-button {
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-button:hover,
.portfolio-item-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

/*          PORTFOLIO ROWS         */

.rows-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.rows-list-link:hover,
.rows-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* .rows-list-link:hover rows-cover-text,
.rows-list-link:focus rows-cover-text {
  transform: translateY(0%);
} */

.rows-list-item {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.rows-list-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.rows-cover-wrap {
  position: relative;
  overflow: hidden;
}

.rows-cover-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rows-list-link:hover .rows-cover-text,
.rows-list-link:focus .rows-cover-text {
  transform: translateY(0%);
}

.rows-list {
  width: calc((100% - 48px) / 3);
  position: relative;
}

/* .rows-list:hover .rows-cover {
  transform: translateY(0);
} */

.rows-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.rows-wrap {
  padding-bottom: 120px;
}

.footer-subscribe {
  margin-left: 80px;
}

.footer-subscribe-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  /* margin-right: 24px; */
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
  /* font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
  padding-left: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-subscribe {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  /* gap: 16px; */
  border-radius: 4px;
  background-color: var(--iris);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--ocean);
}

.subscribe-icon {
  fill: var(--cloud);
  margin-left: 16px;
}

/*----------------------------MODAL----------------------------*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--navyblue-modal);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
}

.modal-form-wrap {
  margin-bottom: 8px;
}

.modal-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding: 0 16px 0 38px;
  /* margin-top: 4px; */
  outline: transparent;
  transition: border-color 200ms ease;
}

.modal-input:focus {
  border-color: var(--iris);
}

.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--iris);
}

::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.48px;
}

.modal-label {
  display: block;
  /* padding-bottom: 4px; */
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.17;
  margin-bottom: 4px;
}

/* .modal-label-comment {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.48px;
} */

.input-wrap {
  position: relative;
  margin-bottom: 8px;
  margin-top: 4px;
}

.input-wrap-comment {
  position: relative;
  margin-bottom: 16px;
  margin-top: 4px;
}

.modal-icon {
  fill: var(--navyblue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 24px;
}

.privacy-text {
  color: var(--lightslate);
  font-size: 12px;
  letter-spacing: 0.48px;
  line-height: 1.17;
}

.privacy-text span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy:checked + .privacy-text span {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}

.privacy-link {
  text-decoration: underline;
  color: var(--iris);
  line-height: 1.33;
}

.privacy-span {
  /* display: inline-flex; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button {
  padding: 16px 32px;
  margin: 24px 0 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  /* border: transparent; */
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-close:hover .button-close,
.modal-close:focus .button-close {
  fill: #ffffff;
}

.button-close {
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
